.descriptionBlock {
  padding: 10px;
}

.profileImage {
  max-width: 200px;
  max-height: 200px;
}

.bgImg {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.bgImg img {
  width: 100%;
}

.contact {
  padding-left: 10px;
}

.errorMessage {
  font-weight: bold;
  color: red;
}
